extends layout.pug

block content
    .main
        .sub-main
            p
                b Name:
                |  Aakash Chopra
            p
                b City:
                |  Delhi
            p
                b Country:
                |  India



