extends layout.pug

block content
    if (errors.length > 0)
      .alert.alert-danger.alert-dismissible
        a.close(href='#' data-dismiss='alert' aria-label='close') &times;
        strong Oops!
        |  #{errors}
    .split#left
        button#addNotes
            img(src="/assets/images/plus.png").addImage
        //- ul.titleBox#notesBox
        //-     - for (var i = notes.length - 1 i >= 0 i--)
        //-         li #{notes[i].title}

    .split#right
        #outerBox
            //- textarea#textArea(name="area2"  placeholder="Enter here.....")
            //- input.button#submit(type="button", value="Save")
