extends ../layout.pug

block content
  .white
    .image-box
      span.signin-heading LOGIN IN
    .form-box-signin
      form(method="post" id="login-form" action="/login")
        .mid-signin
          label.signin-label(for="email" autocomplete="off") Email ID
          input.signin-input(type="text" name="email" autocomplete="off")
        br
        br
        .mid-signin
          label.signin-label(for="password") Password
          input.signin-input(type="password" name="password")
        br
        .mid-signin
          a(href="/signup") Create a new Account
        br
        .mid-signin
          input(type="submit" value="Login")
        if (errors.length > 0)
          br
          .alert.alert-danger.alert-dismissible
            a.close(href='#' data-dismiss='alert' aria-label='close') &times;
            strong Oops!
            |  #{errors}

